.header {
  padding: 1.5rem 2rem;
}

.headerInfoWrapper {
  padding-top: 1rem;
  display: flex;
}

.categoryWrapper {
  display: flex;
  padding-left: 1rem;
}

.category {
  
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: rgba(26, 26, 26, 1);
}

.dropDownArrow:hover {
  animation-duration: 1s;
  transform: rotate(180deg);
}

@media (max-width: 896px) {
}
